<!-- Optional additional links to insert for icons links -->
<a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="https://github.com/srhuang" target="_blank">
      {% include svg/github.svg %}
</a>
<a id="facebook-link"
       class="icon" title="facebook" aria-label="Facebook"
       href="https://www.facebook.com/profile.php?id=100001814471613" target="_blank">
      {% include svg/facebook.svg %}
</a>
<a id="gmail-link"
       class="icon" title="gmail" aria-label="Gmail"
       href="mailto:lukyandy3162@gmail.com" target="_blank">
      {% include svg/gmail.svg %}
</a>